<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Administrar Entidades</title>
  <link rel="stylesheet" href="admin-entidades.css" />
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <aside class="menu-lateral">
    <h2>Menú</h2>
    <nav>
      <ul>
        <li><a href="dashboard.html"><span>🏠</span> Inicio</a></li>
        <li><a href="reporte.html"><span>📄</span> Reportes</a></li>
        <li><a href="incidentes.html"><span>🚨</span> Incidentes</a></li>
        <li><a href="usuarios.html"><span>👥</span> Usuarios</a></li>
        <li><a href="admin-entidades.html" class="active"><span>🏢</span> Agregar</a></li> 
        <li><a href="configuracion.html"><span>⚙️</span> Configuración</a></li>
        <li><a href="#" id="cerrar-sesion"><span>🔒</span> Cerrar sesión</a></li>
      </ul>
    </nav>
  </aside>

  <script>
    if (!localStorage.getItem('authToken')) {
      window.location.href = "login.html";
    }
  </script>

  <div class="container">
    <header>
      <h1>Administrar Entidades</h1>
      <p>Agrega edificios, baños y tipos de incidente.</p>
    </header>

    <section class="control-acceso">
      <h2>Agregar Edificio</h2>
      <form class="formulario-usuario" id="formEdificio">
        <label>
          Nombre:
          <input id="nombreEdificio" type="text" name="nombre" placeholder="Ej. 200, Biblioteca" required />
        </label>
        <label>
          Planta:
          <select name="planta-edificio" id="plantaEdificio">
            <option value="alta">Alta</option>
            <option value="baja">Baja</option>
          </select>
        </label>
        <div class="form-buttons">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </section>

    <section class="control-acceso">
      <h2>Agregar Baño</h2>
      <form class="formulario-usuario" id="formBano">
        <label>
          Edificio:
          <select id="idEdificio"> </select>
         
        </label>
        <label>
          Género del Baño:
          <select name="genero-bao" id="generoBano">
            <option value="hombre">Masculino</option>
            <option value="mujer">Femenino</option>
          </select>
        </label>
        <div class="form-buttons">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </section>

    <section class="control-acceso">
      <h2>Agregar Tipo de Incidente</h2>
      <form class="formulario-usuario" id="formIncidente">
        <label>
          Nombre:
          <input type="text" id="nombreIncidente" name="nombre" placeholder="Ej. Fuga de agua" required />
        </label>
        <div class="form-buttons">
          <button type="submit">Enviar</button>
        </div>
      </form>
    </section>
  </div>

  <script src="./js/setConfiguracionServidor.js"></script>

  <!-- Scripts externos -->
  <script src="js/cerrarSesion.js"></script>
  <script src="js/agregar.js"></script>
</body>
</html>
