<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Usuarios</title>
  <link rel="stylesheet" href="usuarios.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
  <aside class="menu-lateral">
    <h2>Menú</h2>
    <nav>
      <ul>
        <li><a href="dashboard.html"><span>🏠</span> Inicio</a></li>
        <li><a href="reporte.html"><span>📄</span> Reportes</a></li>
        <li><a href="incidentes.html"><span>🚨</span> Incidentes</a></li>
        <li><a href="usuarios.html" class="active"><span>👥</span> Usuarios</a></li>
        <li><a href="admin-entidades.html"><span>🏢</span> Agregar</a></li> 
        <li><a href="configuracion.html"><span>⚙️</span> Configuración</a></li>
        <li><a href="#" id="cerrar-sesion"><span>🔒</span> Cerrar sesión</a></li>
      </ul>
    </nav>
  </aside>
<script>
    if(!localStorage.getItem('authToken')){
      window.location.href = "login.html"
    }
  </script>
  <div class="container">
    <header>
      <h1>Gestión de Usuarios</h1>
      <p>Administra los usuarios registrados en el sistema.</p>
    </header>

    <!-- Sección Control de Acceso -->
    <section class="control-acceso">
      <h2>Control de Acceso</h2>
      <button class="btn agregar" >Agregar Nuevo Usuario</button>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody id="listaUsuarios">
          <!-- Aquí se llenarán dinámicamente los usuarios -->
        </tbody>
      </table>
    </section>
  </div>

  <!-- Script externo -->
  <script src="js/usuarios.js"></script>
  <script src="js/formulario.js"></script>
  <script src="js/cerrarSesion.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</body>
</html>
